* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: sans-serif;
  src: url(texto.ttf);
  .conteiner-car h2 {
    font-family: sans-serif;
  }
}
.newsection .tatto-fixed {
  position: fixed;
  right: 0;
  bottom: 0;
}

header {
  background-image: url("../assets/De-que-esta-hecha-la-tinta-para-tatuajes-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-style: double;
  color: red;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 20px;
  justify-content: center;
  align-items: center;
  position: static;
  top: 0;
}
header .buscador {
  position: absolute;
  right: 80px;
  top: 8px;
}
header .buscar {
  margin-bottom: 5px;
  position: absolute;
  text-transform: capitalize;
  right: 40px;
  top: 8px;
}

.goo-maps {
  padding: 30px;
}
.goo-maps iframe {
  display: flex;
  border-radius: 20px;
  border-style: double;
  width: 600px;
  height: 600px;
  border-color: red;
  margin: 0 auto;
  padding: 10px;
  box-shadow: 5px 5px 5px 5px black;
}
.goo-maps h1 {
  align-items: center;
  color: black;
  text-align: center;
  background-color: rgb(129, 9, 129);
  border-radius: 20px;
}

nav ul {
  display: flex;
  gap: 20px;
  justify-content: center;
  list-style: none;
}
nav ul li {
  list-style: none;
}
nav ul li:hover {
  transform: scale(1.1);
}
nav ul li a {
  color: white;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 20px;
  background-color: black;
  box-shadow: 2px 2px 2px 2px red;
}
nav ul li a a:hover {
  transform: scale(1.1);
}

.grids {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: gray;
  align-items: center;
  margin: 0 20px;
  margin: 0 20px;
}
.grids .contacto-grid {
  display: grid;
  background-color: rgb(92, 92, 92);
  border-style: double;
  font-size: 20px;
  border-radius: 14px;
  padding: 70px;
  margin: 0 auto;
  box-sizing: border-box;
  gap: 25px;
  justify-content: center;
}
.grids .contacto-grid .contac-grupo {
  text-transform: capitalize;
  color: black;
  font-size: 30px;
}
.grids .contacto-grid .contac-grupo button {
  width: 100%;
  height: 50px;
  font-size: bold;
  font-size: 30px;
  background-color: black;
  color: red;
  border-radius: 7px;
  border: 1px solid var(rgb(129, 9, 129));
  cursor: pointer;
  text-transform: capitalize;
}

.section-grids {
  display: grid;
  width: 100%;
  height: 700px;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: black;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: 150px 150px 150px;
  grid-template-areas: "section2 section1 section3 section3" "section2 section1 section3 section3" "section4 section1 section5 section5";
  justify-content: center;
  align-content: center;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  column-gap: 20px;
}

.section1 {
  background-color: none;
  grid-area: section1;
}
.section1 .section1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section1 .section1 img:hover {
  transform: scale(1.1);
}

.section2 {
  background-color: none;
  grid-area: section2;
}
.section2 .section2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section2 .section2 img:hover {
  transform: scale(1.1);
}
.section2 .section3 {
  background-color: none;
  grid-area: section3;
}
.section2 .section3 .section3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section4 {
  background-color: none;
  grid-area: section4;
}
.section4 .section4 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section5 {
  background-color: none;
  grid-area: section5;
}
.section5 .section1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pie-pagina {
  border-color: red;
  background-color: black;
  border-style: double;
  color: white;
  text-transform: capitalize;
  text-align: center;
  justify-content: center;
}
.pie-pagina .pie-pagina h3 {
  color: red;
  text-transform: capitalize;
  text-align: center;
}
.pie-pagina .pie-pagina h3 .pie-pagina h3 .nuestrasredes a {
  justify-content: center;
  gap: 15px;
}
.pie-pagina .pie-pagina h3 .pie-pagina h3 .nuestrasredes a .button {
  height: 50px;
  font-size: bold;
  font-size: 30px;
  background-color: black;
  color: red;
  border-radius: 7px;
  border: 1px solid var(rgb(129, 9, 129));
  cursor: pointer;
  text-transform: capitalize;
}
.pie-pagina .tatto-fixed {
  position: fixed;
  right: 0;
  bottom: 0;
}
.pie-pagina .pie-pagina {
  background-color: black;
  border-style: double;
  color: white;
  text-transform: capitalize;
  text-align: center;
}
.pie-pagina .pie-pagina .pie-pagina h3 {
  color: white;
  text-transform: capitalize;
  text-align: center;
}
.pie-pagina .pie-pagina .pie-pagina h3 .pie-pagina h3 .nuestrasredes a {
  justify-content: center;
  gap: 15px;
}

.grids {
  display: flex;
  gap: 20px;
}

img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px;
  justify-content: space-evenly;
  justify-content: space-between;
  flex-wrap: wrap;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 15px;
  align-items: center;
  background-color: rgb(231, 227, 227);
  margin: 0 6px;
}

.contacto-grid {
  display: grid;
  background-color: rgb(92, 92, 92);
  border-style: double;
  font-size: 20px;
  border-radius: 14px;
  padding: 70px;
  margin: 0 auto;
  box-sizing: border-box;
  gap: 25px;
  justify-content: center;
}
.contacto-grid .contac-grupo {
  text-transform: capitalize;
  color: black;
  font-size: 30px;
}
.contacto-grid .contac-grupo button {
  width: 100%;
  height: 50px;
  font-size: bold;
  font-size: 30px;
  background-color: black;
  color: red;
  border-radius: 7px;
  border: 1px solid var(rgb(129, 9, 129));
  cursor: pointer;
  text-transform: capitalize;
}

.container-card h3 {
  text-align: center;
  color: black;
  font-size: 30px;
  text-decoration: underline;
  text-transform: capitalize;
}
.container-card p {
  color: white;
  font-size: 20px;
  align-items: center;
  text-transform: capitalize;
}

.container-card h4 {
  text-align: center;
  color: rgb(129, 9, 129);
  font-size: 40px;
  text-transform: capitalize;
}

.portafolio {
  width: 350px;
  height: 400px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 3px 3px 5px rgb(176, 173, 173);
  margin-bottom: 8px;
}

.container-card {
  text-align: center;
  text-transform: capitalize;
  color: black;
}

.section-uno, .section-dos, .section-tres, .section-grids {
  display: grid;
  justify-content: center;
  align-items: center;
  color: rgb(92, 92, 92);
  font-size: 20px;
  text-align: center;
  text-decoration: none;
}

.section-dos, .section-tres {
  background-color: black;
  text-align: right;
}

.section-tres {
  align-items: flex-start;
}

.grid-uno, .grid-dos, .grid-tres {
  justify-content: space-evenly;
  justify-content: space-between;
  background-color: rgb(231, 227, 227);
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 6px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
  align-items: center;
  justify-content: space-evenly;
  justify-content: space-between;
  background-color: rgb(231, 227, 227);
}

.grid-dos, .grid-tres {
  display: flex;
  background-color: white;
  justify-content: space-evenly;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 6px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
  align-items: center;
  justify-content: space-evenly;
  justify-content: space-between;
  background-color: rgb(231, 227, 227);
}

.grid-tres {
  color: white;
}

.container {
  border-radius: 20px;
  border-style: double;
  border-color: red;
  margin: 0 auto;
  padding: 10px;
  box-shadow: 5px 5px 5px 5px black;
  border-color: red;
  margin: 0 auto;
  padding: 10px;
}
.container img {
  float: left;
  margin-right: 20px;
  background-color: rgb(202, 196, 196);
  overflow: hidden;
}
.container img h1 {
  color: black;
  font-size: 80px;
  text-align: center;
  text-transform: capitalize;
}
.container img p {
  color: black;
  text-transform: capitalize;
  font-size: 30px;
  color: rgb(129, 9, 129);
}

.container-card {
  display: grid;
  gap: 25px;
  background-color: rgb(92, 92, 92);
  padding: 70px;
}
.container-card h2 {
  margin-bottom: 8px;
  font-size: 50px;
  padding: 20px;
  color: black;
  text-align: center;
  text-transform: capitalize;
  box-shadow: 4px 4px 4px 5px red;
}
.container-card .contact-form input {
  border-radius: 7px;
  border: none;
  height: 30px;
  padding: 5px 10px;
}
.container-card .contact-form textarea {
  border-radius: 7px;
  border: none;
  height: 90px;
  padding: 5px 10px;
}
.container-card .contact-form textarea {
  height: auto;
  resize: vertical;
}
.container-card .contac-grupo {
  display: grid;
  gap: 10px;
}
.container-card .contac-grupo label {
  text-transform: capitalize;
}
.container-card .input {
  display: grid;
  gap: 3px;
}
.container-card .textarea {
  display: grid;
  gap: 3px;
}
.container-card .contact-form input {
  border-radius: 7px;
  border: none;
  height: 30px;
  padding: 5px 10px;
}
.container-card .contac-label:active {
  color: red;
  box-shadow: 4px 4px 4px black;
}
.container-card .grupo-contactos label:hover {
  color: red;
  box-shadow: 4px 4px 4px black;
  text-decoration: underline;
}
.container-card .grupo-contactos p:hover {
  color: black;
}

.contac-grupo button {
  width: 100%;
  height: 50px;
  font-size: bold;
  font-size: 30px;
  background-color: black;
  color: red;
  border-radius: 7px;
  border: 1px solid var(red);
  cursor: pointer;
  text-transform: capitalize;
}

.container-carrd {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-evenly;
  margin: 0 10px;
  margin-bottom: 10px;
  align-items: center;
}

img {
  width: 100%;
}
img:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .grids {
    display: flex;
    gap: 10px;
    flex-wrap: column;
    flex-direction: wrap;
    justify-content: space-evenly;
    background-color: gray;
    align-items: center;
    margin: 0 20px;
  }
  nav ul {
    display: flex;
    gap: 20px;
    justify-content: center;
    list-style: none;
    flex-direction: column;
  }
  nav ul li {
    list-style: none;
    flex-direction: column;
  }
  nav ul li:hover {
    transform: scale(1.1);
  }
  nav ul li a {
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 20px;
    background-color: black;
    box-shadow: 4px 4px 4px 4px green;
  }
  nav ul li a a:hover {
    transform: scale(1.1);
  }
  nav ul li a .buscador {
    position: absolute;
    right: 80px;
    top: 8px;
  }
  nav ul li a .buscar {
    margin-bottom: 5px;
    position: absolute;
    text-transform: capitalize;
    right: 40px;
    top: 8px;
  }
  nav ul li a .container-card h3 {
    display: none;
    text-align: center;
    color: black;
    font-size: 30px;
    text-decoration: underline;
    text-transform: capitalize;
  }
  nav ul li a .container-card h3 p {
    display: none;
    font-size: 20px;
    align-items: flex-start;
    text-transform: capitalize;
    color: red;
  }
  nav ul li a .container-card h3 .container-card h4 {
    text-align: center;
    color: rgb(129, 9, 129);
    font-size: 40px;
    text-transform: capitalize;
  }
  nav ul li a .container-card h3 .container-card .goo-maps {
    padding: 30px;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  nav ul li a .container-card h3 .container-card .goo-maps iframe {
    display: flex;
    border-radius: 20px;
    border-style: double;
    width: 400px;
    height: 400px;
    border-color: red;
    margin: 0 auto;
    padding: 10px;
    box-shadow: 5px 5px 5px 5px black;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  nav ul li a .container-card h3 .container-card .goo-maps iframe h1 {
    align-items: center;
    color: black;
    text-align: center;
    background-color: rgb(129, 9, 129);
    border-radius: 20px;
    text-transform: capitalize;
    text-transform: uppercase;
  }
  nav ul li a .container-card h3 .container-card .goo-maps iframe h1 .container-card .contacto-grid {
    background-color: blueviolet;
    border-style: double;
    color: red;
    color: white;
    font-size: 18px;
    border-radius: 14px;
    padding: 25px;
    display: grid;
    gap: 25px;
  }
  nav ul li a .container-card h3 .container-card .goo-maps iframe h1 .container-card .section-grids {
    width: 100%;
    display: grid;
    width: 700px;
    height: 700px;
    flex-wrap: nowrap;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: red;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 150px 150px 150px;
    grid-template-areas: "section2 section1 section3 section3" "section2 section1 section3 section3" "section4 section1 section5 section5";
    justify-content: center;
    align-content: center;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    column-gap: 20px;
  }
  nav ul li a .container-card h3 .container-card .goo-maps iframe h1 .container-card .section1 {
    background-color: none;
    grid-area: section1;
  }
  nav ul li a .container-card h3 .container-card .goo-maps iframe h1 .container-card .section1 .section1 img {
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  nav ul li a .container-card h3 .container-card .goo-maps iframe h1 .container-card .section1 .section1 img:hover {
    transform: scale(1.1);
  }
  nav ul li a .container-card h3 .container-card .goo-maps iframe h1 .container-card .section1 .section1 img:hover .section2 {
    background-color: none;
    grid-area: section2;
  }
  nav ul li a .container-card h3 .container-card .goo-maps iframe h1 .container-card .section1 .section1 img:hover .section2 .section2 img {
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  nav ul li a .container-card h3 .container-card .goo-maps iframe h1 .container-card .section1 .section1 img:hover .section2 .section2 img:hover {
    transform: scale(1.1);
  }
  nav ul li a .container-card h3 .container-card .goo-maps iframe h1 .container-card .section1 .section1 img:hover .section2 .section2 img:hover .section3 {
    background-color: none;
    grid-area: section3;
  }
  nav ul li a .container-card h3 .container-card .goo-maps iframe h1 .container-card .section1 .section1 img:hover .section2 .section2 img:hover .section3 .section3 img {
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  nav ul li a .container-card h3 .container-card .goo-maps iframe h1 .container-card .section1 .section1 img:hover .section2 .section2 img:hover .section3 .section3 img .section4 {
    background-color: none;
    grid-area: section4;
  }
  nav ul li a .container-card h3 .container-card .goo-maps iframe h1 .container-card .section1 .section1 img:hover .section2 .section2 img:hover .section3 .section3 img .section4 .section4 img {
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  nav ul li a .container-card h3 .container-card .goo-maps iframe h1 .container-card .section1 .section1 img:hover .section2 .section2 img:hover .section3 .section3 img .section5 {
    background-color: none;
    grid-area: section5;
  }
  nav ul li a .container-card h3 .container-card .goo-maps iframe h1 .container-card .section1 .section1 img:hover .section2 .section2 img:hover .section3 .section3 img .section5 .section1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
@media (max-width: 768px) {
  .grids {
    display: flex;
    gap: 10px;
    flex-wrap: column;
    flex-direction: wrap;
    justify-content: space-evenly;
    background-color: gray;
    align-items: center;
    margin: 0 20px;
  }
  nav ul {
    display: flex;
    gap: 20px;
    justify-content: center;
    list-style: none;
    flex-direction: column;
  }
  nav ul li {
    list-style: none;
    flex-direction: column;
  }
  nav ul li:hover {
    transform: scale(1.1);
  }
  nav ul li a {
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 20px;
    background-color: black;
    box-shadow: 3px 3px 3px 3px blue;
  }
  nav ul li a a:hover {
    transform: scale(1.1);
  }
  nav ul li a .buscador {
    position: absolute;
    right: 80px;
    top: 8px;
  }
  nav ul li a .buscar {
    margin-bottom: 5px;
    position: absolute;
    text-transform: capitalize;
    right: 40px;
    top: 8px;
  }
  nav ul li a .goo-maps {
    padding: 30px;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
  }
  nav ul li a .goo-maps iframe {
    display: flex;
    border-radius: 20px;
    border-style: double;
    width: 300px;
    height: 300px;
    border-color: red;
    margin: 0 auto;
    padding: 10px;
    box-shadow: 5px 5px 5px 5px black;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  nav ul li a .goo-maps iframe h1 {
    align-items: center;
    color: black;
    text-align: center;
    background-color: rgb(129, 9, 129);
    border-radius: 20px;
    text-transform: capitalize;
    text-transform: uppercase;
  }
  nav ul li a .goo-maps iframe h1 .container-card .contacto-grid {
    background-color: blueviolet;
    border-style: double;
    color: red;
    color: white;
    font-size: 18px;
    border-radius: 14px;
    padding: 25px;
    display: grid;
    gap: 25px;
  }
  nav ul li a .goo-maps iframe h1 .container-card .contacto-grid .section-grids {
    width: 100%;
    display: grid;
    width: 700px;
    height: 700px;
    flex-wrap: nowrap;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: red;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 150px 150px 150px;
    grid-template-areas: "section2 section1 section3 section3" "section2 section1 section3 section3" "section4 section1 section5 section5";
    justify-content: center;
    align-content: center;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    column-gap: 20px;
  }
  nav ul li a .goo-maps iframe h1 .container-card .contacto-grid .section1 {
    background-color: none;
    grid-area: section1;
  }
  nav ul li a .goo-maps iframe h1 .container-card .contacto-grid .section1 .section1 img {
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  nav ul li a .goo-maps iframe h1 .container-card .contacto-grid .section1 .section1 img:hover {
    transform: scale(1.1);
  }
  nav ul li a .goo-maps iframe h1 .container-card .contacto-grid .section1 .section1 img:hover .section2 {
    background-color: none;
    grid-area: section2;
  }
  nav ul li a .goo-maps iframe h1 .container-card .contacto-grid .section1 .section1 img:hover .section2 .section2 img {
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  nav ul li a .goo-maps iframe h1 .container-card .contacto-grid .section1 .section1 img:hover .section2 .section2 img:hover {
    transform: scale(1.1);
  }
  nav ul li a .goo-maps iframe h1 .container-card .contacto-grid .section1 .section1 img:hover .section2 .section2 img:hover .section3 {
    background-color: none;
    grid-area: section3;
  }
  nav ul li a .goo-maps iframe h1 .container-card .contacto-grid .section1 .section1 img:hover .section2 .section2 img:hover .section3 .section3 img {
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  nav ul li a .goo-maps iframe h1 .container-card .contacto-grid .section1 .section1 img:hover .section2 .section2 img:hover .section3 .section3 img .section4 {
    background-color: none;
    grid-area: section4;
  }
  nav ul li a .goo-maps iframe h1 .container-card .contacto-grid .section1 .section1 img:hover .section2 .section2 img:hover .section3 .section3 img .section4 .section4 img {
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  nav ul li a .goo-maps iframe h1 .container-card .contacto-grid .section1 .section1 img:hover .section2 .section2 img:hover .section3 .section3 img .section5 {
    background-color: none;
    grid-area: section5;
  }
  nav ul li a .goo-maps iframe h1 .container-card .contacto-grid .section1 .section1 img:hover .section2 .section2 img:hover .section3 .section3 img .section5 .section1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
@media (max-width: 768px) {
  .grids {
    display: flex;
    gap: 10px;
    flex-wrap: column;
    flex-direction: wrap;
    justify-content: space-evenly;
    background-color: gray;
    align-items: center;
    margin: 0 20px;
  }
  nav ul {
    display: flex;
    gap: 20px;
    justify-content: center;
    list-style: none;
    flex-direction: column;
  }
  nav ul li {
    list-style: none;
    flex-direction: column;
  }
  nav ul li:hover {
    transform: scale(1.1);
  }
  nav ul li a {
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 20px;
    background-color: black;
    box-shadow: 2px 2px 2px 2px green;
  }
  nav ul li a a:hover {
    transform: scale(1.1);
  }
  nav ul li a .buscador {
    position: absolute;
    right: 80px;
    top: 8px;
  }
  nav ul li a .buscar {
    margin-bottom: 5px;
    position: absolute;
    text-transform: capitalize;
    right: 40px;
    top: 8px;
  }
  nav ul li a .goo-maps {
    padding: 30px;
    justify-content: center;
    align-items: center;
  }
  nav ul li a .goo-maps iframe {
    display: flex;
    border-radius: 20px;
    border-style: double;
    width: 300px;
    height: 300px;
    border-color: red;
    margin: 0 auto;
    padding: 10px;
    box-shadow: 5px 5px 5px 5px black;
    justify-content: center;
    align-items: center;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  nav ul li a .goo-maps h1 {
    align-items: center;
    color: black;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    text-transform: capitalize;
    text-transform: uppercase;
  }
}
@media (max-width: 768px) {
  .grids {
    display: flex;
    gap: 10px;
    flex-wrap: column;
    flex-direction: wrap;
    justify-content: space-evenly;
    background-color: gray;
    align-items: center;
    margin: 0 20px;
  }
  nav ul {
    display: flex;
    gap: 20px;
    justify-content: center;
    list-style: none;
    flex-direction: column;
  }
  nav ul li {
    list-style: none;
    flex-direction: column;
  }
  nav ul li:hover {
    transform: scale(1.1);
  }
  nav ul li a {
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 20px;
    background-color: black;
    box-shadow: 2px 2px 2px 2px green;
  }
  nav ul li a a:hover {
    transform: scale(1.1);
  }
  nav ul li a .buscador {
    position: absolute;
    right: 80px;
    top: 8px;
    margin: 0 auto;
  }
  nav ul li a .buscar {
    margin-bottom: 5px;
    position: absolute;
    text-transform: capitalize;
    right: 40px;
    top: 8px;
  }
}

/*# sourceMappingURL=style.css.map */
