@media(max-width:768px)
{.grids{
    @include flex(column, wrap,center,10px);
    }
    nav{ul{ display: flex;
        gap:20px;
         justify-content:center;
         list-style: none;
         flex-direction: column;
       li{ list-style:none;
        flex-direction: column;
         &:hover{transform:scale(1.1);}
       a{color:$color-secundaria;
         text-decoration: none;
         text-transform: capitalize;
       font-size:20px;
       background-color:$color-principal;
     box-shadow: 2px 2px 2px 2px $bg-terciario;
     a:hover{transform: scale(1.1);}
     .buscador{position:absolute;
        right:80px;
      top:8px;
    margin:0 auto;}
      .buscar{margin-bottom:5px;
        position: absolute;
        text-transform: capitalize;
        right:40px;
      top:8px;
    
      .grupo-contactos h3{margin:0;
        padding:0;}
        .grupo-contacto p{margin:0; padding:0;}
        .grupo-contactos h2{font-size: 30px;
            font-weight:500;
        text-align:center;
        text-transform:capitalize;
        font-weight:normal;
        color:$color-principal;
        } 
        .grupo-contactos h3{ display: grid;
        gap:20px;}
        
        .grupos-contactos p{display: grid;
        gap:20px;}
        
        .contac-label{text-transform: uppercase;
        font-weight:500;
        color:$color-principal;
        }
        
        .grupo-contactos label:hover{color:$bg-secundaria;
        box-shadow:4px 4px 4px $color-principal;
        text-decoration:underline;
        }
        
        .grupo-contactos p:hover{color:$color-principal; }
        
        .contac-grupo{display:grid;
        gap:3px;}
        .contac-grupo label{text-transform: capitalize;}
        
        .input {display: grid;
        gap:3px;}
        
        .textarea{display:grid;
        gap:3px;}
        
        .contact-form input{ border-radius: 7px;
        border:none;
        height:30px;
        padding: 5px 10px;
        }
        
        .contact-form textarea{ border-radius: 7px;
        border:none;
        height: 30px;
        padding:5px 10px;}
        
        .contact-form textarea{height:auto;
        resize:vertical;
        }
        
        .grupo-contactos h3{ text-transform:capitalize;}
        
        .grupo-contactos p{text-transform:capitalize;}
         .grupo-contactos h4{text-transform: capitalize;
        border-style:groove;
        color:$color-universidad;
        border-radius: 60px;
        align-items: center;
        box-shadow:4px 4px 4px $color-secundaria;
        background-color: $color-principal;
        font-size:20px;}
        .contac-grupo label:hover{color:$color-principal;}
        .contac-grupo input:hover{ border-color:$color-universidad;border-style: double;}
        .contac-grupo button{ width:100%;
        height:50px;
        font-size: bold;
        font-size:30px;
        background-color:$color-principal;
        color:$bg-secundaria;
        border-radius:7px;
        border:1px solid var($bg-secundaria);
        cursor:pointer;
        text-transform: capitalize;
        }
        .grupo-contactos h3{ color: $color-principal;}
        .contac-detalle h3{color: $color-principal;}
        
        .grupo-contactos h3:hover{color: $color-universidad; background-color: $color-secundaria;}
        
        .contac-grupo button:hover{ box-shadow:4px 4px 4px $color-secundaria;}
        }
    
    
    
    }}

       }}}