$bg-principal:rgb(92, 92, 92);
$color-principal:black;
$color-secundaria:white;
$color-terciario:rgb(129, 9, 129);
$bg-secundaria:red;
$bg-terciario:green;
$bg-universidad:blue;
$color-universidad:rgb(222, 69, 9);