$bg-principal:rgb(130, 126, 126);
$color-principal:black;
$color-secundaria:white;
$color-terciario:rgb(72, 53, 72);
$bg-secundaria:red;
$bg-terciario:green;
$bg-universidad:blue;
$color-universidad:rgb(222, 69, 9);