.body{background-color: black;
margin:0px;
padding:0px;
height:100vh;
}
.img{width:100%;
    height:800px;
   
}

.error-404{background-color:$bg-principal;
width:100%;
height:100%;
display: flex;
flex-direction: column;
gap:30px;
align-items: center;
justify-content: center;
border-color: 3px 3px 3px $bg-secundaria;
h1{position:relative;
    z-index: 1;
    top:50%;
    left:0;
  text-align: center;
  color:$color-principal;
align-items: center;
text-shadow:2px 2px 2px $bg-secundaria;
font-size:30px;
font-family: "Nosifer", sans-serif;
.h2{font-family:"Nosifer", sans-serif;
font-size:50px;
position: absolute;
z-index: 1;
top: 50%;
left:0;
width:100%;
height:100%;
text-align: center;

button{a{padding:15px 30px;
border-radius:15px;
background-color:$bg-secundaria;
color:$color-principal;
position: absolute;

}
 }
}}}