header {
    background-image: url("../assets/De-que-esta-hecha-la-tinta-para-tatuajes-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-style: double;
    color:$bg-secundaria;
flex-direction: row;
flex-wrap: nowrap;
padding:20px;
justify-content: center;
align-items: center;
position:static;
    top:0;
  .buscador{position:absolute;
  right:80px;
top:10px;}
.buscar{margin-bottom:10px;
  position: absolute;
  text-transform: capitalize;
  right:80px;
  top:10px;}
  .buscar input{font-size:10px;
  }
  .buscador button{font-size:10px;}
  }

   
   