header {
  background-image:url("../assets/395953141_355024653715577_4606400420918268492_n.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-style: double;
    color:$bg-secundaria;
flex-direction: row;
flex-wrap: nowrap;
padding:20px;
justify-content: center;
align-items: center;
position:static;
    top:0;
}

   
   