.navbar{color:$color-principal;
    text-shadow:1px 1px 1px $bg-secundaria;
    font-size:30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;

  
.navbar-brand{
color:$color-principal;
text-decoration: none;
white-space: nowrap;
font-family: "Nosifer";
text-transform:uppercase;
font-size:25px;


.navbar-nav{display: flex;
    color:$color-principal;
    justify-content: space-evenly;
    text-transform: uppercase;
.nav-link.active{
    color:$color-principal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size:30px;
text-shadow:1px 1px 1px $bg-secundaria;
text-transform: uppercase;
.nav-link{
    font-size:30px;
    color:$color-principal;
    text-shadow:1px 1px 1px $bg-secundaria;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    .navbar-expand-lg{justify-content: end;
        .navbar-nav{justify-content:end;
    display: flex;
    padding:30px;
    color:$color-principal;
    .navbar-collapse{flex-basis:0px;
    flex-grow:0px;
    color:$color-principal;
    font-family:"nosifer";
    font-size:10px;
    text-transform: uppercase;
  
} 
}
}
}

}}}}