nav{ul{ display: flex;
   gap:20px;
   justify-content:space-between;

    list-style: none;
  li{ list-style:none;
    &:hover{transform:scale(1.1);}
  a{color:$color-principal;
    text-decoration: none;
    text-transform: capitalize;
  font-size:40px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;



a:hover{transform: scale(1.1);}
  }}}}
