.navbar-brand{
color:$color-principal;
text-decoration: none;
white-space: nowrap;
font-family: "Nosifer", sans-serif;
text-transform:uppercase;
.navbar-nav{
    font-family:sans-serif;
    font-size:30px;
    background-color: aqua;

}}