nav{ul{ display: flex;
   gap:20px;
    justify-content:center;
    list-style: none;
  li{ list-style:none;
    &:hover{transform:scale(1.1);}
  a{color:$color-secundaria;
    text-decoration: none;
    text-transform: capitalize;
  font-size:20px;
  background-color:$color-principal;
box-shadow: 2px 2px 2px 2px $bg-secundaria;
a:hover{transform: scale(1.1);}
  }}}}
