
    
    
    .pie-pagina{border-color:$bg-secundaria;

      background-color:$color-principal;
      border-style: double;
      color:$color-secundaria;
      text-transform: capitalize;
      text-align: center; 
      justify-content: center;
      .pie-pagina h3 {
      color:$bg-secundaria;
      text-transform: capitalize;
      text-align: center; 
      .pie-pagina {h3 {.nuestrasredes a {
      justify-content: center;
      gap: 15px;  
      .button{
         height:50px;
         font-size: bold;
         font-size:30px;
         background-color:$color-principal;
         color:$bg-secundaria;
         border-radius:7px;
         border:1px solid var($color-terciario);
         cursor:pointer;
         text-transform: capitalize;
    
     }}}}}
          
         
     .tatto-fixed{position: fixed;
        right:0;
        bottom:0;}
         .pie-pagina {

        background-color:$color-principal;
        border-style: double;
        color:$color-secundaria;
        text-transform: capitalize;
        text-align: center; 
        &{.pie-pagina h3 {
        color:$color-secundaria;
        text-transform: capitalize;
        text-align: center; 
        .pie-pagina h3 .nuestrasredes a {
        justify-content: center;
        gap: 15px;
     }}}
   }}

     
    
        
        
        
        
        
        
        