 .pie-pagina{border-color:$bg-secundaria;
      background-color:$color-principal;
      border-style: double;
      color:$color-secundaria;
      padding:2rem;

      .container-pie{margin: -0.5em;
         align-items: center;
      .footer-pie{display:flex;
      flex-direction:row;
   flex-wrap:wrap;
justify-content:space-between;
align-items: center;
gap:none;
text-transform: capitalize;


.footer-redes{
padding:0;
align-items: center;
.pie-pagina h3 {
      color:$bg-secundaria;
      text-transform:capitalize;
      text-align: center; 
      font-size:15px;
      margin-bottom:20px;
      font-weight:600;
      border-bottom:0.123rem solid $bg-secundaria;
      padding-bottom:20px;
      display: inline-block;
   .pie-pagina {h3 {.nuestrasredes a {
      justify-content: center;
      gap: 15px; 
      color:$bg-secundaria;
      text-transform:capitalize;
      text-align: center; 
      font-size:15px;
      margin-bottom:15600rem;
      font-weight:600;
      border-bottom:0.123rem solid $bg-secundaria;
      padding-bottom:0.600rem;
      display: inline-block;
      text-decoration: underline;
      align-items: center;


      .button{text-decoration:none;
         height:50px;
         font-size: bold;
         font-size:30px;
         background-color:$color-principal;
         color:$bg-secundaria;
         border-radius:7px;
         border:1px solid var($color-terciario);
         cursor:pointer;
         text-transform: capitalize;
         align-items: center;
    
     }}}}}
          
         
     .tatto-fixed{position: fixed;
        right:0;
        bottom:0;}
         .pie-pagina {
        background-color:$color-principal;
        border-style: double;
        color:$color-secundaria;
    
        text-align: center; 
        &{.pie-pagina h3 {
        color:$color-secundaria;
        text-transform: capitalize;
        text-align: center; 
        color:$bg-secundaria;
        text-transform:capitalize;
        text-align: center; 
        font-size:15px;
        margin-bottom:15600rem;
        font-weight:600;
        border-bottom:0.123rem solid $bg-secundaria;
        padding-bottom:0.600rem;
        display: inline-block;
        text-decoration: underline;
        .pie-pagina h3 .nuestrasredes a {
        justify-content: center;
        gap: 15px;
        text-decoration: underline;
     }}}
   }}}}}

     
    
        
        
        
        
        
        
        