.container-card{display: grid;
    gap:25px;
  background-color:$bg-principal;
  padding:0;
  margin-top:9px;
  margin-bottom: 9px;
  h2{margin-bottom:8px;
    font-size:50px;
    padding:0;
  color:$color-principal;
  text-align: center;
  font-family:creepster;
  text-shadow:1px 1px 1px $bg-secundaria;
   }.contact-form input{ border-radius: 7px;
    border:none;
    height:30px;
    padding: 5px 10px;
    }.contact-form textarea{ border-radius: 7px;
      border:none;
      height:90px;
      padding:5px 10px;}
      .contact-form textarea{height:auto;
        resize:vertical;
        } .contac-grupo{display:grid;
          gap:10px;}
          .contac-grupo label{text-transform: capitalize;}
          .input {display: grid;
          gap:3px;}
          .textarea{display:grid;
          gap:3px;}
          .contact-form input{ border-radius: 7px;
          border:none;
          height:30px;
          padding: 5px 10px;
          }.contac-label:active{color:$bg-secundaria;
            box-shadow: 4px 4px 4px $color-principal; }
            
            .grupo-contactos label:hover{color:$bg-secundaria;
            box-shadow:4px 4px 4px $color-principal;
            text-decoration:underline;
            }
            .grupo-contactos p:hover{color:$color-principal;}
            
  }
  .contac-grupo button{ width:100%;
  height:50px;
  font-size: bold;
  font-size:30px;
  background-color:$color-principal;
  color:$bg-secundaria;
  border-radius:7px;
  border:1px solid var($bg-secundaria);
  cursor:pointer;
  text-transform: capitalize;
  }
  .container-carrd{display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content:space-evenly;
    margin:0 10px;
    margin-bottom:10px;
    align-items: center;
}
    img{width:100%; 
       &:hover{transform: scale(1.1);}
    }  




   